
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Emeal</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id='nav-btn-home' ><a href="{{ path('product_homepage') }}">Home</a></li>
                <li id='nav-btn-menu'><a href="{{ path('product_menu') }}">Menu</a></li>
                <li id='nav-btn-basket'><a href="{{ path('product_basket') }}">Basket</a></li>
                <li id='nav-btn-order'><a href="{{ path('emeal_order') }}">Order</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                   {# Connecté en tant que {{ app.user.username }}
                    -#}
                    <li id='nav-btn-profile'><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
                     <li id='nav-btn-logout'><a href="{{ path('fos_user_security_logout') }}">Logout</a></li> 
                {% else %}
                    <li id='nav-btn-login'><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
                    <li id='nav-btn-sign-in'><a href="{{ path('fos_user_registration_register') }}">Sign in</a></li> 
                {% endif %}
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
