{% extends "::base.html.twig" %}

{%block body %}

<p>The day menu :</p>

{% for product in listProducts %}
    <li>
        {{ product.category.name }} {{ product.name }}:  {{ product.price }} dollars. 
        
        {%if product.ingredients is not empty%}
        (
        {%for ingredient in product.ingredients %}
            {{  ingredient.name }}
            {% if not loop.last %}
            ,
            {% endif %}
        {% endfor %}
        )       
        {% endif %}       
        <a class='basket_add btn btn-primary' href="{{ path('basket_add', { 'id':product.id }) }}">Add to basket</a>
    </li>
{% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('basket.js') }}"></script>
{% endblock %}